<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add User</title>
</head>
<body>
    <div align="center">
        <h1>Add User</h1>
        <form action="/adduser" method="post">
            <table border="1">
                <tbody>
                    <tr>
                        <td>Name:-</td>
                        <td><input type="text" placeholder="Enter Name" name="name" required></td>
                    </tr>
                    <tr>
                        <td>Email:-</td>
                        <td><input type="email" placeholder="Enter Email" name="email" required></td>
                    </tr>
                    <tr>
                        <td>Password:-</td>
                        <td><input type="password" name="password" placeholder="Enter Password" required></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="ADD"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <hr>
        <a href="/">View Users</a>
    </div>
</body>
</html>